<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.stazerprojectapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BookingPage"></activity>
        <activity
            android:name=".TermsandConditionsActivity"
            android:theme="@style/stazertheme" />
        <activity
            android:name=".ratecaed.AcRateCardActivity"
            android:theme="@style/stazertheme" />
        <activity android:name=".services.PestControlActivity" />
        <activity android:name=".services.CleaningService" />
        <activity android:name=".services.WashingmachineActivity" />
        <activity android:name=".services.OtherapplicationActivity" />
        <activity android:name=".services.BannerElePluCarActivity" />
        <activity android:name=".services.RoserviceActivity" />
        <activity android:name=".services.RefrigretorActivity" />
        <activity android:name=".services.AcserviceActivity" />
        <activity android:name=".services.CarpentersActivity" />
        <activity android:name=".services.PlumbersActivity" />
        <activity android:name=".services.ElectricianActivity" />
        <activity
            android:name=".MainScreenActivity"
            android:theme="@style/stazertheme" />
        <activity
            android:name=".VerifyPhoneActivity"
            android:theme="@style/stazertheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/stazertheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>